
@import url('../styles/presentacion-movil.css');
@import url('../styles/sobre-mi-movil.css');
@import url('../styles/redes-sociales-movil.css');
@import url('../styles/navegador-movil.css');
@import url('../styles/proyectos-movil.css');
@import url('../styles/objetivos-movil.css');
@import url('../styles/footer-movil.css');

:root {
    --letter:  rgb(165, 162, 162);
 
  }

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Amatic SC', cursive;
    }

    body { 
 
        padding:0;
        margin:0;
        position:relative;
        background-color:rgb(41, 40, 40);
      }
      body.active{
        background-color:white;
    }
