* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Amatic SC', cursive;
    }

.navegador-grande {display:none;}
body { 
 
    padding:0;
    margin:0;
    position:relative;
    background-color:rgb(41, 40, 40);
  }
  body.active{
    background-color:white;
}

 /* HAMBURGUER */

 .container-navegador{
     width:100%;
     height:50px;
     display:flex;
     justify-content:space-between;
     align-items:center;

 }
.hamburguer {
    width: 68px;
    height: 30px;
    display: flex;
    position:relative;
    left:10px;
    top:-10px;
    cursor:pointer;
    align-items: center; 
   
    z-index: 2;
  }



.container-h {
    width: 60px;
    height: 100px;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 4rem;
    margin-right: 2rem;
    position: absolute;
    padding-left: 0 15px;
    
    
} 

.barra1.active {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 75%;
    height: 3px;
   background-color:  rgb(165, 162, 162);
    transition: 0.4s;
    z-index:1;
  
    transform:rotate(50deg);
    

}

.barra0 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    height: 3px;
    background-color:  rgb(165, 162, 162);

    transition: 0.4s;
    z-index:1;
    
}

.barra0.active{
    opacity:0;
}


.barra2 {
  
    position: absolute;
    top: 30px;
    left: 10px;
    width: 75%;
    height: 3px;
    background-color:  rgb(165, 162, 162);

    transition: 0.4s;
   

}

.barra2.active {
    transform:rotate(-50deg);
}

.container-daynight-small{
    position:relative;
    right:14px;
    width:60px;
    height:30px;
    background-color: black;
    border-radius:20px;
    cursor:pointer;
   
}

.container-daynight-small.active{
    position:relative;
    right:14px;
    width:60px;
    height:30px;
   background-color:rgb(165, 162, 162);
 border-radius:20px;
    cursor:pointer;
   
}
.container-daynight-small .circle.active{
    position:absolute;
    
    width:25px;
    height:25px;
    top:2px;
    left:2px;
    border-radius:30px ;
    background-color:white;
    transition:0.4s linear;
}
.container-daynight-small .circle{
    position:absolute;
    
    width:25px;
    height:25px;
    top:2px;
    left:29px;
    border-radius:30px ;
    background-color:rgb(41, 40, 40);
    transition:0.4s linear;


}

.container-navegador-small{
    width:100%;
    height:0px;
    align-items:center;
    overflow:hidden;
    transition:0.4s ease-in-out;

    
}
.container-navegador-small.active{
    height:162px;
    
}
.navegador-small {
    
    text-align:center;
    margin:0;
    padding:0;
    
   }
 

  
   




.navegador-small li,.navegador-small a {
 
    text-decoration: none;
    list-style: none;
    color:rgb(165, 162, 162);
    font-size:25px;
    letter-spacing:1px;
    margin:15px;
}



/*PERFIL */
.container__main{
    
    display:flex;
    width: 100%;
    height:50vh;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column; 
    
}
.square-container1{
    display:flex;
    justify-content:center;
   background-color:rgb(41, 40, 40);
   width:100%;
  
   margin-top:180px;
   position:relative;
   z-index: 1;
   
   
   }
   .square-container1.active{
       background-color:white; 
   }
   .square-container1 p{
      position:absolute;
      font-size:50px;
      top:-140px;
      letter-spacing:10px;
      animation:textoPresentacion 1s linear;
      color:rgb(165, 162, 162);

   }

   .square-container2{
       display:flex;
       justify-content:center;
        width:100%;
        align-items:center;
      
       height:50px;
      background-color:white;
       animation:textoPresentacion2 2s linear;
       transition:1.5s ease;
       z-index:1;


       
       }
       .square-container2.active{
           background-color:rgb(41, 40, 40);
           color:white;
       }
    
       .square-container2 p{
           position:absolute;
           font-size:45px;
           position:absolute;
           /* top:310px; */
           letter-spacing:10px;
           /* animation:textoPresentacion2 1s linear; */

        }

        .square-container3{
           display:flex;
           justify-content:center;
           background-color:rgb(41, 40, 40);
           width:100%;
           min-width:500px;
           height:50px;
            z-index: 1;
       
           position:relative;}
          
           .square-container3.active{
               background-color:white;
               
           }
          
           .square-container3 p{
               position:absolute;
               font-size:50px;
               top:-40px;
               letter-spacing:10px;
               color:rgb(165, 162, 162);
               animation:textoPresentacion3 1s linear;
            }

    @keyframes textoPresentacion {
       0%{
           top:-80px;
       }
       100%{
           top:-140px;
       }
   } 
   @keyframes textoPresentacion2 {
       0%{
           background-color:rgb(41, 40, 40);}
          
       100%{
           background-color:white;
         
       }
   }

   @keyframes textoPresentacion3{
    0%{
        top:50px;
    }
    100%{
        top:-40px;
    }
} 
   
/* 
.container__main-home-hithere
{
    z-index: 2;
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50% , -50% );
    
}    */




.curriculum {
    
    text-decoration:none;
    width:120px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.curriculum p{
    font-size:25px;
    color:rgb(165, 162, 162);
    text-transform:uppercase;  
    
}


.curriculum:hover{
    display:flex;
    justify-content: center;
    align-items:center;
    width:120px;
    height:50px;
    /* letter-spacing: 5px; */
    transition:0.4s linear; 
    background-color:white;  
    color:black;  
    box-shadow:1px 1px 15px  white;
}

.curriculum.active:hover{
    display:flex;
    justify-content: center;
    align-items:center;
    width:250px;
    height:50px;
    letter-spacing: 5px;
    transition:0.4s linear; 
    background-color:black;  
    color:white;  
    box-shadow:1px 1px 20px black;
}

.redes-sociales{
    width:90%;
    margin-top:20px;
    margin-left:20px;
    justify-content:space-between;
    align-items:center;
    display:flex;
  
    /* position:fixed;
     */
}
    
    .rrss {
        width:60px;
        display:flex;
        align-items:center;
       
        flex-direction: column;
        top:0px;
        height:150px;
       
         }
    
    .redes-sociales a i {
        font-size: 35px;
        color:black;
        transition: 0.2s;
        margin:5px;
    }
    
    .redes-sociales a i:hover {
        color: rgb(85, 81, 81);
        
    }
  
    
    .rrss a , .rrss a i{
        text-decoration:none;
        color:rgb(165, 162, 162);
        
        padding:0 10px;
        
    }
    .rrss a i:hover{
        
        color:black;
      transform:rotate(10deg);
      text-shadow:1px 1px 5px  white;
     transition:0.2s linear;
      
    }

    
 /********************SOBRE MI **************/
 #sobre-mi{
          margin-top:-200px;
    width: 100%;
    height:100vh;
     transition:1s ease-in-out;
   
   
}  

.white-space{
    width:0px;
    height:150px;

} 
#sobre-mi.active{
  
    width: 100%;
    height:100vh;
   background-image: url('Espaldas.jpg');
     background-size: cover; 
    background-repeat: no-repeat;
    background-position-x: center;
    transition:1s ease-in-out;
   
   
}  
 
.contenedor {
        display:flex; 
     
        width:700px;
        height:290px; 
        overflow:hidden;  
      
    } 
 .contenedor img {
    width:700px;
    object-position: center;
    object-fit:cover;
   
}
.texto {
   
    top:-120px;
    left:10px;
    width:700px;
    
    height:390px;
    position:relative;
  }
 .slide{
      position:relative;
      transform:translateX(0px);  
      transition:transform 1s ease-in-out;
 
  
}



  .container-sobremi{
    display:flex;
    width:100%;
    height:200px;
   flex-direction: column;
   align-items: center;
   
  }

.container-arrows {
    
    width:100%;
    height:600px;
    align-items: center;
    display:flex;
   justify-content: space-around;
   position:relative;
    z-index:3;
   }
.cuenta {
    display:none;
    bottom:-90px;
    position:absolute;
    font-size:40px;
    color:rgb(165, 162, 162);

}

.arrow-left {
    width: 50px;
    height:10px;
    background:rgb(165, 162, 162);;
    position:absolute;
    border-radius:10px;
    transition:0.4s linear;
    bottom:-30px;
    left:40px;
}


.l1.active {
    
    top:-7px;
    width: 30px;
    height:10px;
    background:rgb(165, 162, 162);
    position:absolute;
    transform:rotate(-30deg);
    border-radius:10px;
    transition:0.4s linear;


}
.l2.active {
   
    top:7px;
    width: 30px;
    height:10px;
    background:rgb(165, 162, 162);;
    position:absolute;
    transform:rotate(30deg);
    border-radius:10px;
    transition:0.4s linear;
    
    
}

.container-sobremi h1 {
    position:relative;
    transform:rotate(-5deg);
    color:rgb(165, 162, 162);
    
    top:0;
    left:50px;
    font-size:120px;
    
    
}
.arrow-right {
    bottom:-30px;
    width: 50px;
    height:10px;
    background:rgb(165, 162, 162);;
    position:absolute;
    border-radius:10px;
    transition:0.4s linear;
    right:40px;
   
}


.r1.active {
    
    top:7px;
    right:0;
    width: 30px;
    height:10px;
    background:rgb(165, 162, 162);;
    position:absolute;
    transform:rotate(-30deg);
    border-radius:10px;
    transition:0.4s linear;


}
.r2.active{
   
    top:-7px;
    right:0;

    width: 30px;
    height:10px;
    background:rgb(165, 162, 162);
    position:absolute;
    transform:rotate(30deg);
    border-radius:10px;
    transition:0.4s linear;

    
}


.container-descripcion{
    
    
    width:100%;
    height:190px;
    justify-content:center;
    align-items:flex-end;
    position:relative;
    top:50px;
    z-index: 2;
    font-size:20px;
    padding:1em;
    color:rgb(165, 162, 162);
     }
    
.hobby {
    color:rgb(165, 162, 162);;
}
.viajar  {
    color:rgb(165, 162, 162);
}
.viajar.active{
    color:white;
    text-shadow: 1px 1px 15px black;
}

.container-image{
    
    top:0px;
    left:40px;
    position:absolute;
    width:350px;
    height:200px;
    background-image:url('guitarra.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    transition:1s ease-in-out;
    z-index:1;
    opacity:0;
    box-shadow:1px 1px 5px rgb(165, 162, 162);;
    
    pointer-events: none;
    
    
    
}



/*\\\\\\\\\\\\\\\\\\\ responsive ////////////////////// */






@media only screen and (min-width:900px) {
    
    
    .container-daynight-small {
        position:absolute;
        z-index:3;
    }
    .container-navegador{position:absolute;}
    .hamburguer{display:none;}
   
    .container-projects{display:none}
    .hamburguer{display:none}
    

    body{
        background-color:rgb(41, 40, 40);
    }
   body.active{
        background-color:white;
    }

    #home{
        width: 100%;
        height:100vh;
     
    }
.container-navegador-grande {
    width:100%;
    height:60px;
    display:flex;
    
    align-items:center;
    margin-bottom:50px;
   
    position:fixed;
    z-index:2;
 

}
.container-navegador-grande ul {
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.container-navegador-grande ul li a {
    position:relative;
    z-index:2;
    cursor:pointer;
}

.navegador-item:hover::before{
    content:'';
    border-bottom:2px solid white;
    width:90px;
    height:200px;
    
    top:-155px;
    z-index:1;
    position:absolute;
    
 }
 .raya1.active:hover::before, .raya2.active:hover::before, .raya3.active:hover::before{
    content:'';
    border-bottom:2px solid black;
    width:90px;
    height:200px;
    z-index:-1;
    
    top:-155px;
    
    position:absolute;
    
 }

.container-presentacion{
       width:100%;
       height:200px;
      position:relative;
       display:flex;
       justify-content:center;
       align-items:flex-end;
       font-size:40px;
       
       margin-bottom: 15px;
       
    }

    .container-presentacion div {
        
        z-index:1;
    position:relative;
    }
    .container-presentacion  span {
       opacity:0;
       position:absolute;
       font-size:30px;
       top:50%;
       left:50%;
       transform: translate(-50%,-50%);
       transition:1s ease;
    }
    .container-presentacion div i {
        margin:0 110px;
         transition:0.4s linear;
        font-size:30px;
        position:relative;
        z-index: 2;
    }
 

    .container__main{
        padding:0 1em;
       
        display:flex;
        justify-content:center;
            align-items:flex-start; 
            flex-direction: column;
        }   

        
            .square-container1{
             display:flex;
             justify-content:center;
            background-color:rgb(41, 40, 40);
            width:100%;
            min-width:500px;
            height:150px;
            margin-top:180px;
            position:relative;
            z-index: 1;
            
            
            }
            .square-container1.active{
                background-color:white; 
            }
            .square-container1 p{
               position:absolute;
               font-size:80px;
               top:-50px;
               letter-spacing:10px;
               animation:textoPresentacion 1s linear;
               color:rgb(165, 162, 162);

            }

            .square-container2{
                display:flex;
                justify-content:center;
                 width:100%;
                min-width:500px;
                height:50px;
               background-color:white;
                animation:textoPresentacion2 2s linear;
                transition:1.5s ease;
                z-index:1;


                
                }
                .square-container2.active{
                    background-color:rgb(41, 40, 40);
                    color:white;
                }
             
                .square-container2 p{
                    position:absolute;
                    font-size:45px;
                    position:absolute;
                    top:340px;
                    letter-spacing:10px;
                    /* animation:textoPresentacion2 1s linear; */

                 }
    
                 .square-container3{
                    display:flex;
                    justify-content:center;
                    background-color:rgb(41, 40, 40);
                    width:100%;
                    min-width:500px;
                    height:150px;
                     z-index: 1;
                
                    position:relative;
        
    
                    
                    }
                    .square-container3.active{
                        background-color:white;
                        
                    }
                   
                    .square-container3 p{
                        position:absolute;
                        font-size:80px;
                        top:-50px;
                        letter-spacing:10px;
                        color:rgb(165, 162, 162);
                        animation:textoPresentacion 1s linear;
                     }
        
            @keyframes textoPresentacion {
                0%{
                    top:100px;
                }
                100%{
                    top:-50px;
                }
            }
            @keyframes textoPresentacion2 {
                0%{
                    background-color:rgb(41, 40, 40);}
                   
                100%{
                    background-color:white;
                  
                }
            }
            
            .redes-sociales{
                width:100%;
                justify-content:space-between;
                align-items:center;
                display:flex;
                bottom:20px;
                position:fixed;
            }
            .rrss {
            
              
                margin-left: 20px;
                
            }
            .rrss a , .rrss a i{
                text-decoration:none;
                color:rgb(165, 162, 162);
                
                padding:0 10px;
                
            }
            .rrss a i:hover{
                
                color:black;
              transform:rotate(10deg);
              text-shadow:1px 1px 5px  white;
             transition:0.2s linear;
              
            }
            
        .curriculum{
        
            position:relative;
            margin-right:40px;
           
        }
            
           .navegador-grande {
                display:flex;
                width:70%;
            }
            
         
           .navegador-grande li ,.navegador-grande li a{
                list-style: none;
                text-decoration:none;
                color:rgb(165, 162, 162);
                font-size:30px;
                }
            
     /*  --------------------------------------SOBRE ME ----------------------------         */

        #sobre-mi{
          
            width: 100%;
            height:100vh;
         
            transition:1s ease-in-out;
           
           
        }  
        #sobre-mi.active{
          
            width: 100%;
            height:100vh;
           background-image: url('Espaldas.jpg');
             background-size: cover; 
            background-repeat: no-repeat;
            background-position-y: center;
            transition:1s ease-in-out;
           
           
        }  
        .white-space{
            width:70px;
            height:50px;

        } 
        .contenedor {
             display:flex; 
            
              width:700px;
              height:390px; 
          
           
              overflow:hidden;  
            
         
         } 
         .contenedor img {
           width:700px;
           

           object-fit:cover;
           
        }
        .texto {
           
            top:-120px;
            left:100px;
            width:700px;
            
            height:390px;
            position:relative;
          }
         .slide{
              position:relative;
              transform:translateX(0px);  
              transition:transform 1s ease-in-out;
         
          
        }
       
      

          .container-sobremi{
            display:flex;
            width:100%;
            height:200px;
           flex-direction: column;
           align-items: center;
           
          }

        .container-arrows {
            
            width:100%;
            height:600px;
            align-items: center;
            display:flex;
           justify-content: space-around;
           position:relative;
           }
        .cuenta {
            display:none;
            top:350px;
            position:absolute;
            font-size:40px;
            color:rgb(165, 162, 162);

        }
 
        .arrow-left {
            width: 50px;
            height:10px;
            background:rgb(165, 162, 162);;
            position:relative;
            border-radius:10px;
            transition:0.4s linear;
        }
        
      
        .l1.active {
            
            top:-7px;
            width: 30px;
            height:10px;
            background:rgb(165, 162, 162);
            position:absolute;
            transform:rotate(-30deg);
            border-radius:10px;
            transition:0.4s linear;


        }
        .l2.active {
           
            top:7px;
            width: 30px;
            height:10px;
            background:rgb(165, 162, 162);;
            position:absolute;
            transform:rotate(30deg);
            border-radius:10px;
            transition:0.4s linear;

            
        }

        .container-sobremi h1 {
            
            transform:rotate(-5deg);
            color:rgb(165, 162, 162);
            
            font-size:190px;
            
            
        }
        .arrow-right {
            width: 50px;
            height:10px;
            background:rgb(165, 162, 162);;
            position:relative;
            border-radius:10px;
            transition:0.4s linear;
        }
        
      
        .r1.active {
            
            top:7px;
            right:0;
            width: 30px;
            height:10px;
            background:rgb(165, 162, 162);;
            position:absolute;
            transform:rotate(-30deg);
            border-radius:10px;
            transition:0.4s linear;


        }
        .r2.active{
           
            top:-7px;
            right:0;

            width: 30px;
            height:10px;
            background:rgb(165, 162, 162);
            position:absolute;
            transform:rotate(30deg);
            border-radius:10px;
            transition:0.4s linear;

            
        }
    
        
        .container-descripcion{
            
            
            width:100%;
            height:190px;
            justify-content:center;
            align-items:flex-end;
            position:relative;
            z-index: 2;
            font-size:40px;
            padding:1em;
            color:rgb(165, 162, 162);
             }
        .hobby {
            color:rgb(165, 162, 162);;
        }
        .viajar  {
            color:rgb(165, 162, 162);
        }
        .viajar.active{
            color:white;
            text-shadow: 1px 1px 15px black;
        }
        
        .container-image{
            
            top:0px;
            left:510px;
            position:absolute;
            width:350px;
            height:200px;
            background-image:url('guitarra.jpg');
            background-size:cover;
            background-repeat: no-repeat;
            transition:1s ease-in-out;
            z-index:1;
            opacity:0;
            box-shadow:1px 1px 5px rgb(165, 162, 162);;
            
            pointer-events: none;
            
            
            
        }
        
        
        
        
    }
    
    
    
    
    

    

        
        
     

      
        
        
        
        
        
        
        
        
        
        
        
        