* {
    box-sizing: border-box;
    scroll-behavior:smooth;
    }


body { 
 
    padding:0;
    margin:0;
    position:relative;

}

.container-back{
    
    width:100%;
    height:100vh;
    position:absolute;
    display:flex;
    overflow:hidden;
    justify-content:flex-end;
    background-color:#777;
    
    
    
}


  .navegador-grande {display:none;}
 
  
.container-navegador{
    width:100%;
    
    display:flex;
     
    align-items:center;
    position:relative;
    

}
.navegador {
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    height:0px;
    visibility:hidden;
    transition:0.4s ease-in-out;
    z-index: 2;
}

.navegador.active {
    display:flex;
    align-items:center;

    width: 100%;
    visibility:visible;
    height:130px;
    background: linear-gradient(90deg, rgba(9,94,121,1) 0%, rgba(228,245,249,1) 48%);
    z-index: 2;
                    
    box-shadow:1px 1px 5px  black;
    transition:0.4s ease-in-out;
  
}

.navegador-item{
    
    width: 100%;
  
    height:30px;
    text-align:center;


 }


.navegador li,.navegador a {
   
    text-decoration: none;
    list-style: none;
    color:black;
    font-size:25px;
    letter-spacing:1px;
    margin:5px;
    
    
    
}

.navegador-item {
    display:block;
    position:relative;
    overflow:hidden;
    
}
.navegador-item::before
{
    content:'';
    width:0px;
    height:3px;
    background-color: rgb(190, 186, 186);
    top:15px;
    transition:0.4s linear;
    position:absolute;
}

.navegador-item:hover::before{
    content:'';
    width:140px;
    height:3px;
    background-color:black;
    top:15px;
    
    position:absolute;
    
}
.navegador-item-skill::before
{
    content:'';
    width:0px;
    height:3px;
    background-color: black;
    top:15px;
    transition:0.4s linear;
    position:absolute;
}





.container-presentacion{
    width:100%;
    height:50px;
    background-color:#777;
   position:relative;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    font-size:40px;
    margin-top:30px;
     margin-bottom: 15px;
     
    
 }
 .container-presentacion div {
        
    z-index:1;
position:relative;
}
.container-presentacion  span {
   opacity:0;
   position:absolute;
   font-size: 20px;
   text-align: center;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   transition:1s ease;
}
.container-presentacion div i {
    margin:0 40px;
     transition:0.4s linear;
    font-size:20px;
    position:relative;
    z-index: 2;
}

.container__main{
    
    display:flex;
    width: 100%;
    
    align-items:center;
    flex-direction:column; 
    
}



/* HAMBURGUER */

.hamburguer {
    width: 68px;
    height: 50px;
    display: flex;
    left:10px;
    cursor:pointer;
    align-items: center; 
    position:relative;
    z-index: 2;
   
    
}



.container-h {
    width: 60px;
    height: 100px;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 4rem;
    margin-right: 2rem;
    position: absolute;
    padding-left: 0 15px;
    
    
} 






.barra1.active {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 75%;
    height: 6px;
    background-color:black;
    transition: 0.4s;
    z-index:1;
    border-radius: 10px;
    transform:rotate(50deg);
    

}

.barra0 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    height: 6px;
    background-color:black;
    transition: 0.4s;
    z-index:1;
    border-radius: 10px;
}

.barra0.active{
    opacity:0;
}


.barra2 {
  
    position: absolute;
    top: 30px;
    left: 10px;
    width: 75%;
    height: 6px;
    background-color:black;
    transition: 0.4s;
    border-radius: 10px;

}

.barra2.active {
    transform:rotate(-50deg);
}





/*PERFIL */


 .square-container{
    
    width: 300px;
    height: 300px;  
     background-image: url('yo.jpg');  
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    overflow:hidden;
    text-align:center;
    background-color:white;
    position:relative;
    z-index: 2;
  
    
} 

.container-img{
  
    width:100%;
    height:400px;
    position:absolute;
     top:400px;
    display:flex;
    align-items: center;
    flex-direction:column; 
    background-color: #ccc;
    padding:0 4em; transition:1s linear;
    
    
}

.container-img p{
  
    width:100%;
   
  
    
}
.container-img h1{
    width:100%;
    text-transform: uppercase; 
    letter-spacing:2px;
    background: rgb(228,245,249);
    background: linear-gradient(90deg, rgba(228,245,249,1) 0%, rgba(9,94,121,1) 100%);
    border-top:1px solid black;
    box-shadow:1px 1px 5px  black;
    border-bottom:1px solid black;
    
}

.container-img.active{
    position:absolute;
    top:0px;
    left:0;
    transition:1s linear;
}



@keyframes letter-front {
    0% {
        left:-250px;
        visibility: hidden;
        
    }
    100%{
        left:0px;
        visibility: visible;
        
    }
}
@keyframes desapair {
    0% {
        
        visibility: hidden;
        
    }
    25%{
        
        visibility: hidden;
        
    }
    50% {
        visibility:hidden;
        left:-250px;
        
    }
    100%{
        left:0;
        
    }
}

.up
{
    width: 100%;
    height:3px;
    background-color: black;
    position:absolute;
    top:0px;
    left:0px;
    animation:grow-up 3s linear;
} 

@keyframes grow-up {
    
    0% {
        left:-600px;
        
    }
    
}
.down
{   
    width: 100%;
    height:3px;
    background-color:black;
    position:absolute;
    bottom:0px;
    left:0px;
    animation:grow-down 3s linear ;
    
    
    
}
@keyframes grow-down {
    
    0% {
        left:600px;
        
        
    }
    100% {
        left:0px;
        
        
        
    }
    
    
} 
.left
{
    width: 3px;
    height:100%;
    background-color:black;
    position:absolute;
    left:0px;
    top:0px;
    animation:grow-left 1.5s linear ;
    
}
@keyframes grow-left {
    
    0% {
        top:300px;
        
        font-size:45px;
        
    }
    
    
} 
.right
{
    width: 3px;
    height:100%;
    background-color:black;
    position:absolute;
    right:0px;
    top:0px;
    animation:grow-right 1.5s linear ;
    
    
    
}
@keyframes grow-right {
    
    0% {
        top:-300px;
        
        
    }
    
    
}  
   

.container__main-home-hithere
{
    z-index: 2;
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50% , -50% );
    
}   




.curriculum {
   
    text-decoration:none;
    margin-top: 20px;
    background: white;
    opacity:0.8;
    border-top:3px solid var(--verde);
    border-left:3px solid var(--azul);
    border-right:3px solid var(--azul);
    border-bottom:3px solid var(--azul);
    display:flex;
    justify-content: center;
    align-items:center;
    border:2px solid rgba(9,94,121,1);
    margin-bottom:5px;
    position:relative;
    z-index: 1;
   
    
    
    
    
}
.curriculum p{
    color:black;
    font-weight: 600;
    text-transform:uppercase;  
    
}

.curriculum:hover {
    border:2px solid black;
    background: rgb(228,245,249);
    background: linear-gradient(90deg, rgba(228,245,249,1) 0%, rgba(9,94,121,1) 100%);
    /* background: #f0f9f7;
    box-shadow: inset -24px 24px 48px #b4bbb9,
    inset 24px -24px 48px #ffffff; */
    /* background: #f5f2f7;
    box-shadow: inset 7px 7px 14px #d0ced2,
    inset -7px -7px 14px #ffffff; }*/}
    
    .rrss {
      
        display:flex;
        position:relative;
        z-index: 1;
        height:150px;
        justify-content:space-around;
    }
    
    .redes-sociales a i {
        font-size: 40px;
        color:black;
        transition: 0.2s;
        margin:50px;
    }
    
    .redes-sociales a i:hover {
        color: rgb(85, 81, 81);
        
    }
    .rrss {
        background: rgb(9,94,121);
    background: linear-gradient(90deg, rgba(9,94,121,1) 0%, rgba(228,245,249,1) 48%);
        width:100%;
        box-shadow:1px 1px 5px  black;
    
    } 

    /* ABOUT ME */

    .aboutme
    {
         
        width:500px;
        height:300px;
      }

       .container-projects{
        background-color:#777;
     
        width:100%;
        height:150vh;
        display:grid;
        gap:20px;
        /* grid-template-columns: 1fr; */
        grid-template-rows:repeat(4, 1fr);
         
         align-items:center;
        justify-content:center;}
  
      .container-color-back-one {
          flex:70%;
         
          background-color:#ccc;
          z-index: 1;
       
      }
      .draft1{
        width: 450px;
        height:250px;
        
        background-image:url('draft1.jpg');
        background-size:cover;
        background-repeat:no-repeat;
   }
   .draft2{
       width: 450px;
        height:250px;
        background-image:url('draft2.jpg');
   background-size:cover;
   background-repeat:no-repeat;
       
   }
   .draft3{
       width: 450px;
        height:250px;
        background-image:url('draf3.jpg');
       background-size:cover;
       background-repeat:no-repeat;
   }
   .draft4{
       width: 450px;
        height:250px;
        background-image:url('draft4.jpg');
       background-size:cover;
       background-repeat:no-repeat;
   }
      .container-color-back-two{
         
          flex:30%;
          background-color:#777;
          z-index: 1;
          transition:1s ease;
          position:relative;
          left:0;
      
      }
      .container-color-back-two.active {
          left:1500px;
      } 
   
     .arrow-up

     {  
        display:none;
         
      
     } 
     
      .arrow-up i ,  a
      {
          right:0;
          position:relative;
          z-index: 99;
          color:black;
          text-decoration: none;
          font-size:30px;
         color:rgb(9,94,121);
         
      }
    .arrow-up i:hover{
        animation:upup 1s linear infinite;
    }
    @keyframes upup {
        0% {
            top:-10px;
        }
        100% {
            top:5px;
        }
        
    }
      .arrow-up.active{
        display:flex;  
        width:50px;
        height:50px;
        right:50px;
        bottom:0px;
        justify-content:center;
        align-items:center;
        background-color: rgb(204, 204, 204,0.5);
        border:2px solid rgb(9,94,121);
        border-radius:150px;
        position:fixed;
       
        
         z-index: 99;
      }
   
      /*\\\\\\\\\\\\\\\\\\\ responsive ////////////////////// */
    





@media only screen and   (min-width:900px) {
    
    
    
    .navegador {display:none;}
    .navegador .navegador-item {display:none;}
    .navegador.active {display:none}
    .container-projects{display:none}
    img { display:none;}


    body {
        background-color:white;
    }

    .container-presentacion{
       width:100%;
       height:200px;
      position:relative;
       display:flex;
       justify-content:center;
       align-items:flex-end;
       font-size:40px;
       
       margin-bottom: 15px;
       
    }

    .container-presentacion div {
        
        z-index:1;
    position:relative;
    }
    .container-presentacion  span {
       opacity:0;
       position:absolute;
       font-size:30px;
       top:50%;
       left:50%;
       transform: translate(-50%,-50%);
       transition:1s ease;
    }
    .container-presentacion div i {
        margin:0 110px;
         transition:0.4s linear;
        font-size:30px;
        position:relative;
        z-index: 2;
    }
 

    .container__main{
        padding:0 1em;
       
        display:flex;
        justify-content:center;
            align-items:flex-start; 
            flex-direction: row;
        }   
        
        .container__main .square-container , .container__main .redes-sociales
        {
            margin: 0 4em;
        }
        
            .square-container{
            margin-top: 25px;
            background-image: url(yo.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            width:450px;
            min-width:360px;
            height:400px;
            
            }
            .container__main .redes-sociales
        {   
            margin-top:100px}
            
            
            .rrss {
                background: rgb(9,94,121);
background: linear-gradient(90deg, rgba(9,94,121,1) 0%, rgba(228,245,249,1) 48%);
                width:100%;
                box-shadow:1px 1px 5px  black;
            }
            
            
            .curriculum{
                
                margin-top: 40px;
            }
            
            
           .navegador-grande {
                display:flex;
                position:absolute;
                 width:70%;
                left:40px;
                top:-150px;
                transition:1s linear; 
                z-index:1;

                
            }
            .navegador-grande.active{
                top:13px;
            }
            .container-navegador .navegador-grande li ,.navegador-grande li a{
                list-style: none;
                text-decoration:none;
                color:black;
                font-size:30px;
                
                
            }
            
            .container-navegador .navegador-grande li a {
                text-decoration: none;
                color:black;
            }
            .container-projects-b{
                position:absolute;
                width:30%;
                height:10vh;
                display:grid;
                gap:20px;
                /* grid-template-columns: 1fr; */
                grid-template-rows:repeat(4, 1fr);
                 
                 align-content:start;
                justify-content:center;
                z-index:1;
                animation: mov 10s linear infinite;
            }
            @keyframes mov{
                0%{
                    top:0px;
                }
               
                 25%{
                    top:-250px;
                }
            
                50%{
                    top:0px;
                }
                75%{
                    top:-250px;
                }
                100%{
                    top:0%;
                }
            }
            .draft1-b{
                 width: 400px;
                 height:250px;
                 
                 background-image:url('draft1.jpg');
                 background-size:cover;
                 background-repeat:no-repeat;
            }
            .draft2-b{
                width: 400px;
                 height:250px;
                 background-image:url('draft2.jpg');
            background-size:cover;
            background-repeat:no-repeat;
                
            }
            .draft3-b{
                width: 400px;
                 height:250px;
                 background-image:url('draf3.jpg');
                background-size:cover;
                background-repeat:no-repeat;
            }
            .draft4-b{
                width: 400px;
                 height:250px;
                 background-image:url('draft4.jpg');
                background-size:cover;
                background-repeat:no-repeat;
            }
            .container-color-back-one {
                flex:70%;
               
                background-color:#777;
                z-index: 1;
             
            }
            .container-color-back-two{
         
                flex:30%;
                background-color:#ccc;
                z-index: 1;
                transition:1s ease;
                position:relative;
                left:0;
            
            }
            .container-color-back-two.active {
                left:1500px;
            }
            
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        