#proyecto{
    width: 100%;
    height:100vh;
    
}
.white-spaceP{
    height:50px;
}

#proyecto h1{
    text-align:center;
    font-size:110px;
    transform:rotate(-5deg);
    color:black;
    margin-bottom:60px;
    }




 /* GRID */
     .container-proyectos{
         width:100%;
         height:100vh;
         display:grid;
         grid-template-columns:1fr;
         grid-template-rows:repeat(8 , 1fr);
         justify-content:center;
         align-content:center;
         gap:0px;
         position:relative;
         z-index:999;
     }  
          
     .proyecto{
         width:100%;
         height:100px;
         display:flex;
         font-size:60px;
         justify-content:center;
         align-items:start;
        
      
        }
            /* GRID END */
    #proyecto h1{
        text-align:center;
        font-size:90px;
        transform:rotate(-5deg);
        color:var(--letter);
        margin-bottom:60px;}

        .itemP{
            
        color:var(--letter);
        font-size:55px;
        display:flex;
        justify-content:center;
        background-color:black;
        cursor:pointer;

        }
        .diferent{
        
       
        display:flex;
        justify-content:center;
        height:200px;
        border:2px solid var(--letter);
        background-color:rgb(41, 40, 40);
        color:white;
        cursor:pointer;
        }
  
   
       

     .masterL{}
     .master{grid-row:2}
     .migracionL{}
     .migracion{grid-row:4}
     .extremeL{}
     .extreme{}
     .gatheringL{grid-row:7}
     .gathering{}


@media only screen and (min-width:500px){

#proyecto{
    width: 100%;
    height:100vh;
    
    
}
.white-spaceP{
    height:50px;
}

#proyecto h1{
    text-align:center;
    font-size:110px;
    transform:rotate(-5deg);
    color:var(--letter);
    margin-bottom:60px;
    }




 /* GRID */
     .container-proyectos{
         display:grid;
         grid-template-columns:1fr;
         grid-template-rows:repeat(6 , 1fr);
         justify-content:center;
         align-content:center;
         gap:5px;
         position:relative;
         z-index:999;
     }  
          
     .proyecto{
         width:100%;
         height:100px;
         display:flex;
         font-size:70px;
         justify-content:center;
         align-items:start;
        
      
        }
  
   
       

     .masterL{}
     .master{grid-row:2}
     .migracionL{}
     .migracion{grid-row:4}
     .extremeL{}
     .extreme{}

}


@media only screen and (min-width:1000px){

    /* GRID */
    .container-proyectos{
        display:grid;
        grid-template-columns:repeat(3,1fr) ;
        grid-template-rows:repeat(2,1fr);
        gap:5px;
        text-align:center;
    }    
          
    .proyecto{
        width:100%;
        height:250px;
      
        font-size:150px;
    }
    .masterL{grid-column:1;grid-row:1}
    .master{grid-column:1;grid-row:2}
    .migracionL{grid-column:2; grid-row:1;}
    .migracion{grid-column:2; grid-row:2;}
    .extremeL{grid-column:3; grid-row:1;}
    .extreme{grid-column:3; grid-row:2;}
    .gatheringL{grid-column:4; grid-row:1;}
    .gathering{grid-column:4; grid-row:2;}
        
    /* GRID END */
    #proyecto h1{
        text-align:center;
        font-size:190px;
        transform:rotate(-5deg);
        color:var(--letter);
        margin-bottom:60px;}

        .itemP{
        color:var(--letter);
        font-size:120px;
        display:flex;
        justify-content:center;
        background-color:black;
        cursor:pointer;

        }
        .diferent{
        
        width:50px;
        display:flex;
        justify-content:center;
        height:200px;
        border:2px solid var(--letter);
        background-color:rgb(41, 40, 40);
        color:white;
        
        cursor:pointer;
        ;}
    
             .diferent.active{
                   color:black;
                   background-color:white;
                 }
             
                .itemP.active{
                  position:relative;
                  animation: letrasmov 0.5s ease-in
                }
            @keyframes letrasmov {
            0% {
            top:10px;
            }
            100% {
            top:-20px;
            }
            }
        
         

}






.proyecto p {
    margin:5px;}

.proyecto a
{
    font-size:40px;
    color:var(--letter);
    margin:5px;
}
.itemP{
    color:var(--letter);
    width:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    background-color:black;
    cursor:pointer;
    
    
 }
 .diferent{
    
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    border:2px solid var(--letter);
    background-color:rgb(41, 40, 40);
   color:white;
    cursor:pointer;
    
 }
 .diferent.active{
   color:black;
   background-color:white;
 }

.itemP.active{
  position:relative;
  animation: letrasmov 0.5s ease-in
}
@keyframes letrasmov {
0% {
top:10px;
}
100% {
top:-20px;
}
}




.octo-cat {
    width:75px;height:75px;
background-image: url('/imagenes/GitHub.png');
background-size:cover;
background-position-x: center;
border-radius:150px;
}  
.octo-cat.active{ 
background-image: url('/imagenes/octocat.jpg');
background-size:contain;
background-repeat: no-repeat;
background-position-y:center;



}
.octo-cat1 {
    width:75px;height:75px;
background-image: url('/imagenes/GitHub.png');
background-size:cover;
background-position-x: center;
border-radius:150px;
}  
.octo-cat1.active{ 
background-image: url('/imagenes/octocat.jpg');
background-size:contain;
background-repeat: no-repeat;
background-position-y:center;
}
.octo-cat2 {
    width:75px;height:75px;
background-image: url('/imagenes/GitHub.png');
background-size:cover;
background-position-x: center;
border-radius:150px;
}  
.octo-cat2.active{ 
background-image: url('/imagenes/octocat.jpg');
background-size:contain;
background-repeat: no-repeat;
background-position-y:center;
}
