/********************SOBRE MI **************/

.white-spaceS{height:150px; }
#sobre-mi{
  
  width: 100%;
  height:auto;
  transition:1s ease-in-out;
  
}   
.container-sobremi{
  display:flex;
width:100%;
height:350px;
flex-direction: column;
align-items: center;
margin-bottom:150px;


}
.texto {
  
  transform:rotate(-5deg);
  color:var(--letter);
  font-size:120px;
}
.container-descripcion{
  position:relative;
  width:100%;
  height:190px;
  font-size:20px;
  padding:1em;
  color:var(--letter);

}
  

.hobby {
color:var(--letter);
border-bottom:3px solid var(--letter);
position:relative;
cursor:pointer;
z-index:1;
}


.container-image{
  width:180px;
  height:120px;
  background-image:url('../imagenes/code.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  transition:1s ease-in-out;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  
opacity:0;
box-shadow:1px 1px 5px var(--letter);

/* pointer-events: none; */



}

@media (min-width:500px){
.white-spaceS{height:150px; }
#sobre-mi{
  
  width: 100%;
  height:auto;
  transition:1s ease-in-out;
  
}   
.container-sobremi{
  display:flex;
width:100%;
height:350px;
flex-direction: column;
align-items: center;
margin-bottom:150px;


}
.texto {
  
  transform:rotate(-5deg);
  color:var(--letter);
  font-size:120px;
}
.container-descripcion{
  position:relative;
  width:100%;
  height:190px;
  font-size:20px;
  padding:1em;
  color:var(--letter);

}
  

.hobby {
color:var(--letter);
border-bottom:3px solid var(--letter);
position:relative;
cursor:pointer;
z-index:1;
}


.container-image{
  width:250px;
  height:200px;
  background-image:url('../imagenes/code.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  transition:1s ease-in-out;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  
opacity:0;
box-shadow:1px 1px 5px var(--letter);

/* pointer-events: none; */



}
}

@media(min-width:1100px){
  
  .white-spaceS{height:150px; }
  #sobre-mi{
  
    width: 100%;    
    height:80vh;
 
    transition:1s ease-in-out;
   
   
}  


  


    .texto {

        top:-120px;
        left:100px;
        width:550px;

        height:390px;
        position:relative;

        }


      

        .container-sobremi{
        display:flex;
        width:100%;
        height:200px;
        flex-direction: column;
        align-items: center;

        }


        .container-sobremi h1 {

        transform:rotate(-5deg);
        color:var(--letter);

        font-size:190px;


        }
     


        .container-descripcion{


        width:100%;
        height:190px;
        justify-content:center;
        align-items:flex-end;
        position:relative;
        z-index: 2;
        font-size:35px;
        top:-160px;
        color:var(--letter);
        }
        .hobby {
        color:var(--letter);
        position:relative;
        z-index:1;
        }
    

        .container-image{

        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        position:absolute;
        width:350px;
        height:200px;
        background-image:url('/imagenes/code.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        transition:1s ease-in-out;
        opacity:0;
        box-shadow:1px 1px 5px var(--letter);;
        pointer-events: none;




        }
    

}

@media only screen and (min-width:1390px) {

  .container-sobremi{
    margin-top:110px;
    display:flex;
    width:100%;
    height:200px;
    flex-direction: column;
    align-items: center;

    }


    .container-sobremi h1 {

    transform:rotate(-5deg);
    color:var(--letter);

    font-size:190px;


    }
    .container-descripcion{


      width:100%;
      height:190px;
      justify-content:center;
      align-items:flex-end;
      position:relative;
      z-index: 2;
      font-size:45px;
      top:-120px;
      color:var(--letter);
      }
      .hobby {
      color:var(--letter);
      position:relative;
      z-index:1;
      }
  
      .container-image{

        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        position:absolute;
        width:500px;
        height:300px;
        background-image:url('/imagenes/Octocat.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        transition:1s ease-in-out;
        opacity:0;
        box-shadow:1px 1px 5px var(--letter);;
        pointer-events: none;
    
    }

  }

  @media only screen and (min-width:1395px) {


    .container-image{

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    width:500px;
    height:300px;
    background-image:url('/imagenes/Octocat.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    transition:1s ease-in-out;
    opacity:0;
    box-shadow:1px 1px 5px var(--letter);;
    pointer-events: none;

}

}
